:root {
  --white: 0, 0, 100%;
  --grey-700: 215, 10%, 24%;
  --grey-800: 220, 18%, 13%;
  --grey-900: 220, 16%, 11%;
  --blue-500: 223, 100%, 55%;
  --blue-600: 223, 94%, 60%;
  --red-300: 0, 69%, 67%;
  --red-400: 1, 83%, 63%;
  --red-500: 4, 90%, 58%;
  --red-600: 1, 77%, 55%;
}
