.page__layout {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
}

.sidebar {
  background-color: hsl(var(--grey-800));
  position: fixed;
  height: 100%;
  top: 4rem;
  left: -100%;
  transition: left 0.2s linear;
}

.sidebar__visible {
  left: 0;
}

.aside__logo {
  width: 100%;
  height: 9rem;
  display: none;
}

.aside__logo img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .page__layout {
    grid-template-columns: 1fr 5fr;
  }

  .sidebar {
    position: relative;
    top: 0;
    left: 0;
  }

  .aside__logo {
    display: block;
  }
}
